.name {
	padding: 2vh 3vw;
	margin: 0;
	font-size: 1.75rem;
	/* letter-spacing: 0.1em; */
	/* font-weight: 400; */
    /* color: rgb(52, 73, 112) */
}

.name span {
	color: rgb(74,190,209);
	padding: 0;
}

.blurb {
	/* text-decoration: overline; */
	/* animation-name: fadeInUp; */
	/* font-family: 'Raleway'; */
	font-size: 1.25rem;
	text-align: right;
	padding: 0 3vw;
	margin: 0;
	font-weight: 100;
	word-wrap: break-word;
}

.blueText {
	-webkit-box-shadow:  -1vh 0 0 rgb(74,190,209) inset;
	-moz-box-shadow:  -1vh 0 0 rgb(74,190,209) inset;
	box-shadow: 0 -1vh 0 0 rgb(74,190,209) inset;
	font-weight: bolder;
}


