.name {
	padding: 2vh 3vw;
	margin: 0;
	font-size: 1.75rem;
	letter-spacing: 0.1em;
	font-weight: 400;
}

.name span {
	color: rgb(74,190,209);
	padding: 0;
}

.blurb {
	/* text-decoration: overline; */
	/* animation-name: fadeInUp; */
	/* font-family: 'Raleway'; */
	font-size: 1.25rem;
	text-align: right;
	padding: 0 3vw;
	margin: 0;
	font-weight: 100;
	word-wrap: break-word;
}

.blueText {
	-webkit-box-shadow:  -1vh 0 0 #344976 inset;
	-moz-box-shadow:  -1vh 0 0 #344976 inset;
	box-shadow: 0 -1vh 0 0 #344976 inset;
	font-weight: bolder;
}

.contacts {
	width: fit-content;
	position: fixed;
	left: 50vw;
	bottom: 3vh;
    justify-content: center;
}

.contact-img {
	height: 4vh;
	width: 4vh;
	margin: 0.4vw;
	fill: #4ABDE1;
}

.contact-img:hover {
	fill:#fff;
}

.cpm-logo {
    margin-top: 30px;
    justify-content: left;
    width: 100px; 
    right: 200px; 
}