.header {
    /* margin-top: 30px; */
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #4ABDE1;
    background-color: #fff;
}

.cpm-logo {
    /* margin-top: 30px;    */
    display: flex;
    justify-content: flex-start;
    width: 20vw; 
    right: 40vh; 
    /* margin-bottom: 30px; */
    margin-left: 30px;
    padding: 3vh;
}

.header-contact {
    padding-top: 120px;
    padding-right: 9vw;
    position:relative;
    padding-bottom: 3vh;
}

.header-email-us {
    /* background-color: rgb(74,190,209); */
    color: rgb(52,73,112);
    /* padding: 3vh; */
    text-decoration: none;
    text-transform: uppercase;
    -webkit-box-shadow:  -1vh 0 0 rgb(74,190,209) inset;
	-moz-box-shadow:  -1vh 0 0 rgb(74,190,209) inset;
	box-shadow: 0 -1vh 0 0 rgb(74,190,209) inset;
	font-weight: bolder;
}