* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: atten-new, sans-serif;
	/* background-color: #4ABED1; */
	/* color: rgb(52,73,112) */
  }
  
  /* #root {
	position: relative;
	min-height: 100vh;
	padding-bottom: 20px;
  } */


main {
	text-align: center;
	position: relative;
}


.content {
	background-color: rgb(52,73,112);
	color: #fff;
	max-height: 100vh;
	height: 100vh;
	min-width: 320px;
}